.barcode-scanner {
  margin-bottom: 0;
}

.barcode-scanner .barcode-scanner--button {
  margin-top: 0.5rem;
  display: block;
}

.inline-container {
  display: flex !important;
  flex-direction: row;
}

.left-side {
  width: 100%;
}
.right-side {
  width: 50%;
  padding-right: 25%;
}

.list-item {
  text-align: center;
}
