html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#map,
#mapUI {
  width: inherit;
  height: inherit;
  background-color: #000;
  z-index: 1;
}

.barcode {
  position: absolute;
  top: 130%;
  display: block;
  float: left;
  z-index: 401;
  width: auto;
  height: auto;
  margin: 10px;
  font-family: sans-serif;
  font-size: 24px;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(117, 117, 117);
  color: floralwhite;
}

.stats {
  position: relative;
  top: 10%;
  display: block;
  float: right;
  z-index: 401;
  width: auto;
  height: auto;
  margin: 10px;
  font-family: sans-serif;
  font-size: 24px;
  padding: 10px;
  border-radius: 7px;  
  background-color: rgb(117, 117, 117);
  color: floralwhite;
}

.barcodePopup {
  position: relative;
  bottom: 10px;
  z-index: 402;
  width: 700px;
  height: auto;
  background-color: #00a976;
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  padding-bottom: 6px;
  border-radius: 10px;
  max-height: 70vh;
}

.statsPopup {
  position: relative;
  z-index: 402;
  width: 700px;
  height: auto;
  background: rgb(117, 117, 117);
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  max-height: 50vh;
  overflow-y: auto;
}

.text {
  font-size: 18px;
  padding-bottom: 10px;
}

.reset {
  vertical-align: left;
  position: absolute;
  top: 88%;
  float: left;
  z-index: 401;
  width: auto;
  height: auto;
  margin: 10px;
  font-family: sans-serif;
  font-size: 24px;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(117, 117, 117);
  color: floralwhite;
}

