* {
    box-sizing: border-box;
  } 
  .row {
    margin-left:-22px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 4px solid #3E3E3E;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }