.profile-heading {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.inline-container {
  display: flex !important;
  flex-direction: row;
  padding-top: 2%;
}

.text-side {
  width: 50%;
  display: block;
  padding-left: 10%;
}
.image-side {
  width: 50%;
  display: flex;
  justify-content: center;
}
