.screen-container {
  padding: 5%;
  height: 100%;
}

.scanner-container {
  padding-bottom: 3%;
}

.inline-container {
  display: flex !important;
  flex-direction: row;
}
.inline-element {
  width: 100%;
}
