.screen-container {
  padding: 5%;
  height: 100%;
}

.scanner-container {
  padding-bottom: 3%;
}

.inline-container {
  display: flex !important;
  flex-direction: row;
}
.inline-element {
  width: 100%;
}

.link {
  color: #fff;
}
.link:hover {
  color: #0ff;
}

.top-element {
  display: flex;
  justify-content: center;
}
.bottom-element {
  display: flex;
  justify-content: center;
  position: relative;
  top: 215px;
}
.bottom-element.scan {
  top: 55px;
}
.bottom-element.nested {
  top: 15px;
  align-self: flex-start;
}

.nested-element-wrapper {
  align-items: center;
}
